$darkBlue: hsl(243, 87%, 12%);
$desaturatedBlue: hsl(238, 22%, 44%);
$accentBlue: hsl(224, 93%, 58%);
$accentCyan: hsl(170, 45%, 43%);
$neutralBlue: #f8f8fe;
$neutralGray: hsl(0, 0%, 75%);
$white: #ffffff;