@use '../../base/mixins/' as mix;
@use '../../base/colors/' as color;

.contact-info {
  margin-bottom: 3rem;
}

.contact-block {
  &:not(:first-of-type) {
    margin-top: 1rem;
  }

  & > img {
    margin-right: 2rem;
    vertical-align: middle;
  }
}

.contact-links {
  margin-bottom: 3rem;
  @include mix.flex;
  flex-direction: column;

  @include mix.min-width(1000px) {
    flex: 1;
    align-items: center;
  }

  & > a {
    color: color.$white;
    text-decoration: none;
    line-height: 3rem;
  }

  & > a > img {
    width: 4rem;

    @include mix.min-width(800px) {
      width: 5rem;
    }
    @include mix.min-width(1000px) {
      width: 3rem;
    }
  }
}

.contact-links--socials {
  @include mix.flex(baseline, center);
  flex-direction: row;

  & > a {
    &:not(:last-of-type) {
      margin-right: 1rem;
    }
  }
}